.bottom_10 {
  margin-top: 0px;
  margin-bottom: 10px; }

.bottom-align-text {
  bottom: 0;
  position: absolute;
  right: 0; }

.btn-reserva {
  background-color: #008000;
  color: #ffffff;
  width: 100%; }

.footer {
  background-color: #ffff00;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0 10px 10px 10px; }

.footer-address-icon {
  padding: 0 10px 0 0; }

.jumbotron {
  background-color: #ff0000;
  color: #ffff00; }

.libro {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 2px 5px 2px 5px; }

.libros {
  width: 100%;
  height: 300px; }

.ml-2 {
  border: 1px solid #808080; }

.rebaja {
  text-decoration: line-through;
  color: #ff0000; }
