

$yellow : #ffff00;
$red    : #ff0000;
$green  : #008000;
$grey   : #808080;
$white  : #ffffff;

// $red    : #ff0000;


@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}



.bottom_10 {    
	@include margenes(0px, 10px);    	
}


.bottom-align-text {    
    bottom: 0;
	position: absolute;
    right: 0;
  }

.btn-reserva {    
    background-color: $green;
    color: $white;    
	width: 100%;
}

.footer {    	
    background-color: $yellow;
	@include margenes(10px, 0px);     
	@include padding(0, 10px, 10px, 10px);
}

.footer-address-icon {
	@include padding(0, 10px, 0, 0);    
}

.jumbotron {
    background-color: $red;
    color: $yellow;
}
  
.libro {
    flex: 1 150px;	
	@include margenes(10px, 0px);     
	@include padding(2px, 5px, 2px, 5px);    
}

.libros {
    width: 100%;
    height: 300px;
}

.ml-2 {
    border: 1px solid $grey;
}

.rebaja {
    text-decoration:line-through;
    color: $red;
}